# 1. Importing Libraries and Data

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# creating main path
path = r'C:\Users\muffi\OneDrive\CareerFoundry\World Happiness Index Analysis 2023'

In [18]:
# importing wrangled 2015 - 2019 World Happiness Index data
df_all_wrang = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'all_years_wrangled.csv'), index_col = [0])
df_all_wrang.shape

(782, 10)

# 2. Missing Data

This section checks for and addresses missing data

In [19]:
# checking for missing values in each col
df_all_wrang.isnull().sum()

location               0
rank                   0
happiness_score        0
gdp_per_capita         0
social_support         0
life_expectancy        0
freedom                0
trust_in_government    1
generosity             0
year                   0
dtype: int64

Missing one value in trust. Since it is less than 5% of the data, I will drop the entry.

In [20]:
# dropping row with missing data
df_all_no_null = df_all_wrang[df_all_wrang['trust_in_government'].isnull() == False]

In [21]:
# checking for missing vals
df_all_no_null.isnull().sum()

location               0
rank                   0
happiness_score        0
gdp_per_capita         0
social_support         0
life_expectancy        0
freedom                0
trust_in_government    0
generosity             0
year                   0
dtype: int64

# 3. Duplicate Data

This section checks for and addresses duplicate data

In [24]:
# checking for duplicates
df_all_no_null[df_all_no_null.duplicated()]

Empty DataFrame
Columns: [location, rank, happiness_score, gdp_per_capita, social_support, life_expectancy, freedom, trust_in_government, generosity, year]
Index: []

There are no duplicates

In [25]:
# making post-dup check df
df_all_no_dup = df_all_no_null

# Mixed Data

In [26]:
# checking for missing data
for col in df_all_no_dup.columns.tolist():
  weird = (df_all_no_dup[[col]].applymap(type) != df_all_no_dup[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_all_no_dup[weird]) > 0:
    print (col)

There are no cols with a mix of data types

In [28]:
# making fully cleaned df
df_all_clean = df_all_no_dup

# 4. Exporting Data

In [29]:
# exporting data
df_all_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'all_years_cleaned.csv'))

# 5. Basic Statistics

This section contains basic statics of the cleans df

In [30]:
# viewing df
df_all_clean.head(20)

,location,rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,trust_in_government,generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
5,Finland,6,7.406,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2015
6,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2015
7,Sweden,8,7.364,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2015
8,New Zealand,9,7.286,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2015
9,Australia,10,7.284,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2015
10,Israel,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,2015
11,Costa Rica,12,7.226,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,2015
12,Austria,13,7.200,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2015
13,Mexico,14,7.187,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,2015
14,United States,15,7.119,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2015
15,Brazil,16,6.983,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,2015
16,Luxembourg,17,6.946,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,2015
17,Ireland,18,6.940,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,2015
18,Belgium,19,6.937,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2015
19,United Arab Emirates,20,6.901,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2015

In [31]:
# getting basic statistics
df_all_clean.describe()

,rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,trust_in_government,generosity,year
count,781.000000,781.000000,781.000000,781.000000,781.000000,781.000000,781.000000,781.000000,781.000000
mean,78.773367,5.377232,0.914537,1.078780,0.612342,0.411254,0.125436,0.218618,2016.992318
std,45.162398,1.127071,0.405403,0.329581,0.248459,0.152911,0.105816,0.122394,1.417814
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,40.000000,4.509000,0.605000,0.870210,0.440060,0.310480,0.054000,0.130000,2016.000000
50%,79.000000,5.321000,0.982000,1.125000,0.647239,0.431000,0.091000,0.202000,2017.000000
75%,118.000000,6.182000,1.233748,1.328000,0.808000,0.531000,0.156030,0.279060,2018.000000
max,158.000000,7.769000,1.870766,1.644000,1.141000,0.724000,0.551910,0.838075,2019.000000